<div class="contact-us-container pb-5">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb" style="background: none;">
            <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
        </ol>
    </nav>

    <div class="container text-center">
        <div class="row my-5">
            <div class="col-md-12 font-weight-bold">
                <h1 style="font-weight: 700;color: #3e4958;">Do you have a question?</h1>
            </div>
            <div class="col-md-12 font-weight-bold">
                <h1 style="font-weight: 700;color: #3e4958;"><span class="theme-primary-tag">Feel free</span> to contact
                </h1>
            </div>
            <div class="col-md-12"></div>
        </div>
        <div class="row my-2">
            <div class="col-md-12 font-weight-bold">
                <h4 style="color: #757e88;">If you can’t find what you are looking for or you need to book for
                    bigger groups, please contact us and we will do our best to accommodate your wishes.</h4>
            </div>
        </div>
    </div>

    <div class="container text-center">
        <div class="row mt-5">
            <div class="col-md-4 d-flex my-2 justify-content-center">
                <div class="card bs-card-spacing " style="width: 22rem;">
                    <div class="card-body">
                        <h5 class="card-title "><i class="card-header-title fa fa-envelope" aria-hidden="true"></i>
                            <h4 class="p-4">Email us</h4>
                        </h5>
                        <h6 class="card-subtitle mb-2 text-muted py-4">Email us for general queries and partnership
                            opportunities</h6>
                        <p class="card-text">info&#64;demolink.org</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex my-2 justify-content-center">
                <div class="card bs-card-spacing " style="width: 22rem;">
                    <div class="card-body">
                        <h5 class="card-title "><i class="card-header-title fa fa-phone-square" aria-hidden="true"></i>
                            <h4 class="p-4">Contact us</h4>
                        </h5>
                        <h6 class="card-subtitle mb-2 text-muted py-4">We are available 24h / 7<br></h6>
                        <p class="card-text">+1 000 10 87 000<br>
                            +1 000 11 64 001</p>

                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex my-2 justify-content-center">
                <div class="card bs-card-spacing " style="width: 22rem;">
                    <div class="card-body">
                        <h5 class="card-title "><i class="card-header-title fa fa-map-marker" aria-hidden="true"></i>
                            <h4 class="p-4">Head office</h4>
                        </h5>
                        <h6 class="card-subtitle mb-2 text-muted py-4">178 West 27th Street, Suite 527 New York NY
                            10012<br>
                            Mon – Sat: 9am – 5pm</h6>
                        <p class="card-text"></p>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center my-5">
                <h2 style="color: #3e4958;font-weight: 700;">Leave us a message
                </h2>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="contact-us-content" style="background-color: white;">
            <div class="row m-3">
                <div class="col-md-6 my-2 justify-content-center">
                    <div class="group">
                        <i class="fa fa-user icon" aria-hidden="true"></i>
                        <input class="input" type="text" placeholder="Name:">

                    </div>
                </div>
                <div class="col-md-6 my-2 justify-content-center">
                    <div class="group">
                        <i class="fa fa-envelope icon" aria-hidden="true"></i>
                        <input class="input" type="email" placeholder="Email:">
                    </div>
                </div>
                <div class="col-md-12 mt-4 justify-content-center">
                    <div class="group">
                        <i class="fa fa-commenting icon" aria-hidden="true"></i>
                        <input class="input" type="text" placeholder="Comment:" style="height: 100px;">
                    </div>
                </div>
                <div class="col-md-12 mt-4 ">


                    <button class="button">


                        <i class="icn fa fa-paper-plane send-msg-icon" aria-hidden="true"></i>


                        <div class="text">
                            Send a message
                        </div>

                    </button>
                </div>
            </div>
        </div>
    </div>



</div>