<div class="d-flex justify-content-center">
    <form [formGroup]="vehicleInformation" (ngSubmit)="onSubmit()" class="m-8 vehicle-form">
      <div class="mb-3">
        <h3>Vehicle Details</h3>
      </div>
        <div class="mb-3">
            <div (click)="fileUpload.click()" style="height: 50px;width: 100%;background-color:white;border-radius: 3px;padding:10px;display:flex;align-items: center;justify-content: center;border:1px dotted black">
                <i class="fa fa-upload"></i>
                <div> Upload image here</div>
            </div>
            <input #fileUpload type="file" accept="image/*" class="hidden" formControlName="image" (change)="handleFileInput($event)"/>
        </div>
        <div class="d-flex flex-column mb-3">
            <span class="required">Title</span>
            <input type="text" pInputText formControlName="title" />
        </div>
        <div class="d-flex flex-column mb-3">
            <span class="required">Description</span>
            <textarea type="text" pInputText formControlName="description" cols="4"></textarea>
        </div>
        <div class="d-flex flex-column mb-3">
            <span class="required">Rate</span>
            <input type="number" pInputText formControlName="rate" [min]="0" />
        </div>
        <div class="mt-4 text-center">
            <button class="btn form-button" [disabled]="vehicleInformation.invalid" type="submit">Submit</button>
        </div>
    </form>
</div>
