<div class="background-container ">
    <div class="row  text-center" style="color: #3e4958;">

        <div class="col-md-12">
            <h3 style="font-size: 3rem;" class="f-weight-500">We are ready to take your call 24 hours, 7 days!
            </h3>
        </div>
        <div class="col-md-12 ">
            <h1 style="font-size: 4rem;" class="f-weight-700"><i class="fa fa-phone-square" aria-hidden="true"></i>
                Call now: 823</h1>
        </div>

    </div>
</div>
<footer class="footer-area section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 text-center">
                <div class="single-footer-widget">
                    <h6>For driver</h6>
                    <ul class="p-0">
                        <li><a href="#">Become a driver</a></li>
                        <li><a href="#">Conditions</a></li>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Improvements</a></li>
                        <li><a href="#">Insurance</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 text-center">
                <div class="single-footer-widget">
                    <h6>Services</h6>
                    <ul class="p-0">
                        <li><a href="#">Address pickup</a></li>
                        <li><a href="#">Airport transfer</a></li>
                        <li><a href="#">Long distance</a></li>
                        <li><a href="#">Taxi tours</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 text-center">
                <div class="single-footer-widget">
                    <h6>Use cases</h6>
                    <ul class="p-0">
                        <li><a href="#">Events</a></li>
                        <li><a href="#">Promo code</a></li>
                        <li><a href="#">Gift cards</a></li>
                        <li><a href="#">Bonus</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 text-center">
                <div class="single-footer-widget">
                    <h6>About</h6>
                    <ul class="p-0">
                        <li><a href="#">Taxi order</a></li>
                        <li><a href="#">Our app</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Pricing</a></li>
                        <li><a href="#">Career</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <span class="footer-social pt-3 d-flex text-center align-items-center"
                    style="font-size: 28px;justify-content: center;">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-behance"></i></a>
                </span>
            </div>
            <div class="col-md-12">
                <p class="text-center footer-text pt-2">
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is
                    made
                    with <i class="fa fa-heart-o" aria-hidden="true"></i> in Rajkot
                </p>
            </div>
        </div>
    </div>
</footer>