<header class="header">
  <nav>
    <div class="logo">
      <img src="assets/images/logo.svg">
    </div>
    <input id="menu-toggle" type="checkbox">
    <label class="menu-icon" for="menu-toggle">&#9776;</label>
    <ul class="menu">
      <li><a routerLink="dashboard" routerLinkActive="primary-color">Home</a></li>
      <li><a routerLink="about-us" routerLinkActive="primary-color">About us</a></li>
      <li><a routerLink="contact-us" routerLinkActive="primary-color">Contact us</a></li>
    </ul>
  </nav>
</header>
