body {
  padding: 0;
  margin: 0;
  font-family: "Heebo", Sans-serif, serif !important;
}

:root {
  --primary-color: #fdc501;
  --secondary-color: #3e4958;
}

.primary-color {
  color: var(--primary-color) !important;
}

.background-primary {
  background: var(--primary-color) !important;
}

.mt-80 {
  margin-top: 80px;
}

.list-none {
  list-style: none;
}

.fs-20 {
  font-size: 20px !important;
}


.fs-30 {
  font-size: 30px !important;
}

.fs-40 {
  font-size: 40px !important;
}
